<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet"  type= "text/css" href= "{{ url_for('static',filename='styles/aboutstyle.css') }}" >
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
  </head>
  <body>
    
    <div class="services-section">
      <div class="inner-width">
        <h2 class="section-title">ABOUT US</h2>
        <div class="border"></div><br><br>
        <h2 class="section-title">PERSONAL EXPENSE TRACKER </h2><br><br>
        <div class="a">
        <p >Personal Expense Tracker Application is a free, simple and secure expense tracker. It is one of the best expense and money  manager. User just have to enter their income and expenses as they earn and spend and also able to set limit for expenses.</p>
        
        <br>
        <p>
          This system attempts to free the user with as much as possible the burden of manual calculation and to keep the track of the expenditure.
        </p>
        
        </div>
        <br>
        <br>
        <div class="b">
        <h1>KEY FEATURES</h1><br>
          <p>Track Expenses</p><br>
           <p>Alert Feature</p><br>
           <p>Works in offline</p><br>
         <p>Simple UI</p><br>
          <p>Plan Budget</p><br>
          <p>Easy to use</p><br>
          <p>Easy accesibility</p>
        
        
        
        </div>
       <br><br><br>
        <h3 class="section-title">Other Features</h3>
        <div class="border"></div>
        <div class="services-container">

          <div class="service-box">
            <div class="service-icon">
              <i class="fas fa-paint-brush"></i>
            </div>
            <div class="service-title">Custom Features</div>
            <div class="service-desc">
             Many customized and user-friendly features are added for user's comfort
            </div>
          </div>

          <div class="service-box">
            <div class="service-icon">
              <i class="fas fa-code"></i>
            </div>
            <div class="service-title">Alert Feature</div>
            <div class="service-desc">
             Notifications can be sent through mail and sms
            </div>
          </div>

          <div class="service-box">
            <div class="service-icon">
              <i class="fas fa-brush"></i>
            </div>
            <div class="service-title">Responsive </div>
            <div class="service-desc">
              Responsiveness feature is also added for flexibility
            </div>
          </div>
          &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <div class="service-box">
            <div class="service-icon">
              <i class="fas fa-object-ungroup"></i>
            </div>
            <div class="service-title">Update Expenses</div>
            <div class="service-desc">
              User can update expenses and income anytime and get summary view of their gains
            </div>
          </div>
          &nbsp; &nbsp; &nbsp; &nbsp;   
          <div class="service-box">
            <div class="service-icon">
              <i class="fas fa-database"></i>
            </div>
            <div class="service-title">Save reports</div>
            <div class="service-desc">
              Also able to save their analysis reports 
            </div>
          </div>
          &nbsp; &nbsp; &nbsp; &nbsp;   
          <div class="service-box">
            <div class="service-icon">
              <i class="fab fa-android"></i>
            </div>
          <div class="service-title">Report Generator tool</div>
            <div class="service-desc">
              User can able to bookmark and also generate the reports
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
