<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>
		Personal Expense Tracker Application
	</title>
</head>
<body background="1.jpg" link="#000" alink="#017bf5" vlink="#000">
	<br />
	<h3 align="center">
		
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<font face="cinzel" size="4">
			<a href="login.html">LOGIN/SIGN UP</a>&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="about.html">ABOUT</a>&nbsp;&nbsp;&nbsp;&nbsp;
			
			<a href="contact.html">CONTACT US</a>
		</font>
	</h3>
	<br /><br />
	<h1 align="center">
		<font face="Lato" color="#017bf5" size="7">
			PERSONAL EXPENSE TRACKER 
		</font>
	</h1>
	<h3 align="center">
		<font face="Lato" color="#000" size="5">
			<strong>“Balancing your money is the key to having enough”</strong>
		</font>
	</h3>
	<br />
	<h3 align="center">
	<a href="https://en.wikipedia.org/wiki/Expense_management">
		<font face="Lato" color="#000">GET STARTED</font>
	</a>&nbsp;&nbsp;&nbsp;&nbsp;
	
	</h3><br>

	<h2 align="center">
		<font face="Lato" color="#056bf5" size="4"><u>DEVELOPERS</u></font></h2>
		<h4 align="center">Monika Thiyagarajan</h4>
		<h4 align="center">Falila Banu</h4>
		<h4 align="center">Mounika Ravi</h4>
		<h4 align="center">Sindhuja Kubendhiran</h4>
	
</body>
</html>