<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASSIGNMENT-3</title>

    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <h1>Cloud Object Storage</h1>
    <h2> PROJECT - PERSONAL EXPENSE TRACKER APPLICATION</h2>
    <h2> NAME : MOUNIKA R (820319104025)</h2>
    <img src=https://expensetracker4.s3.jp-tok.cloud-object-storage.appdomain.cloud/img1.jpg alt="img1">
    <img src=https://expensetracker4.s3.jp-tok.cloud-object-storage.appdomain.cloud/img2.jpg alt="img2">
    <img src=https://expensetracker4.s3.jp-tok.cloud-object-storage.appdomain.cloud/img3.jpg  alt="img3">
    <img src=https://expensetracker4.s3.jp-tok.cloud-object-storage.appdomain.cloud/img4.jpg alt="img4">
    <img src=https://expensetracker4.s3.jp-tok.cloud-object-storage.appdomain.cloud/img5.jpg  alt="img5">
    <script>
  window.watsonAssistantChatOptions = {
    integrationID: "238a365b-6981-4baf-b761-3555f7f9f4c9", // The ID of this integration.
    region: "jp-tok", // The region your integration is hosted in.
    serviceInstanceID: "c371dcde-b75b-4b8f-aa33-abd1b615fa7d", // The ID of your service instance.
    onLoad: function(instance) {
 instance.render(); }
  };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
    document.head.appendChild(t);
  });
</script>


</body>


</html>
